.container {
    margin-top: 80px;
}

.container .card {
    flex-direction: row;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.2);
}

#img {
    margin-top: 10px;
    margin-bottom: 10px;
}

#img button {
    box-shadow: none;
}

#img .carousel-indicators button {
    background: #fff;
    background-clip: padding-box;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    transform: scale(1.5);
}

.carousel-item img {
    width: 100%;
}

.event-content {
    padding: 20px 10px;
}

.event-title > a {
    font-size: 30px;
    font-weight: 900;
    position: relative;
    margin-bottom: 30px;
    color: var(--black);
}

span {
    font-weight: 700;
}

.event-rating i {
    color: #ff0;
}

.event-price {
    font-size: 26px;
}

.event-detail h2 {
    text-transform: capitalize;
}

.event-detail p {
    font-size: 16px;
    padding-left: 15px;
}

.event-detail ul li {
    list-style: none;
    background: url('https://cdn-icons-png.flaticon.com/512/845/845646.png') left center no-repeat;
    background-size: 18px;
    padding-left: 22px;
    margin: 5px 0;
}

.event-register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-register .num {
    width: 130px;
    border: 5px solid var(--black);
    border-radius: 40px;
    transition: 0.5s;
}

input[type="number"] {
    color: var(--dark-pink);
    font-size: 18px;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    padding: 15px;
    font-weight: 700;
    background: var(--white-shadow);
    outline: none;
    border: none;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.event-register button {
    margin-left: 20px;
}

.rate  {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.5), 
                8px 8px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 20px;
}

.post {
    display: none;
}

.post span {
    color: var(--black);
    font-size: 25px;
    font-weight: 500;
}

.post .edit {
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 10px;
}

.post .edit:hover {
    transform: translateY(-5px);
}

.star-icon{
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.star-icon input {
    display: none;
}

.star-icon label {
    padding: 5px;
    cursor: pointer;
    color: var(--black);
    font-size: 20px;
    transition: all 0.3s ease;
    float: right;
}

input:not(:checked) ~ label:hover, 
input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

input:checked ~ label {
    color: #fd4;
}

#rate-5:checked ~ label {
    color: #fe7;
    text-shadow: 0 0 20px #fe7;
}

.rate form {
    display: none;
}

.rate form #title {
    width: 100%;
    margin: 5px 0 20px;
    text-align: center;
}


#title img {
    width: 100px;
    height: 100px;
}

.rate form textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.5);
    color: var(--black);
    border-radius: 5px;
    font-size: 18px;
    padding: 15px 10px;
}

textarea::placeholder {
    color: var(--black);
}

.rate form.error textarea {
    border-color: red;
}

.rate form textarea:focus {
    border-color: aqua;
    box-shadow: -1px -1px 5px aqua;
}

.rate form.error textarea:focus {
    border-color: #f00;
    box-shadow: -1px -1px 5px #f00;
}

.rate form .characters {
    position: absolute;
    bottom: 26%;
    right: 23%;
    display: flex;
    align-items: center;
    color: aqua;
    display: none;
}

.rate form.active .characters {
    display: block;
}

.rate form.error .characters {
    color: #f00;
}