.item.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--dark-pink);
    opacity: 0;
    transition: all 0.3s ease-out;
} 

.side-bar {
    position: absolute;
    left: 0;
    width: 270px;
    height: auto;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 15px 35px var(--black-shadow);
}

.side-bar .title {
    height: 70px;
    background: var(--white);
    box-shadow: 0 15px 35px var(--black-shadow);
    color: var(--dark-pink);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    user-select: none;
}

.side-bar .nav-item:not(:first-child) {
    margin-top: 20px;
}

.side-bar .title i {
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
}

.sub-menu {
    padding: 6px 6px 0 30px;
    cursor: pointer;
}

.sub-menu li {
    list-style: none;
    padding: 10px 0;
}

.sub-menu li a {
    font-size: 16px;
    color: var(--black);
    position: relative;
}

.sub-menu li:hover a,  .sub-menu li.active a {
    color: var(--dark-pink);
    font-weight: 900;
}

.sub-menu li a::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--dark-pink);
    opacity: 0;
    transition: all 0.5s ease-out;
}

.sub-menu li:hover a::after, .sub-menu li.active a::after {
    opacity: 1;
    transform: translateY(-5px);
}

.price, .range {
    display: flex;
    align-items: center;
    justify-content: center;
}

.min, .max {
    display: inline-block;
    position: relative;
    border: 2px solid var(--black-shadow);
    border-radius: 40px;
    transition: 0.5s;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

.min:hover, .max:hover {
    width: 130px;
    border: 5px solid var(--black);
}

input[type="number"] {
    color: var(--dark-pink);
    font-size: 18px;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    padding: 15px;
    font-weight: 700;
    background: var(--white-shadow);
    outline: none;
    border: none;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.next {
    position: absolute;
    content: "";
    top: 50%;
    right: 10px;
    border-top: 5px solid var(--black);
    border-left: 5px solid var(--black);
    transform: translateY(-50%) rotate(135deg);
    width: 12px;
    height: 12px;
    cursor: pointer;
    opacity: 0;
}

.prev {
    position: absolute;
    content: "";
    top: 50%;
    left: 10px;
    border-top: 5px solid var(--black);
    border-left: 5px solid var(--black);
    transform: translateY(-50%) rotate(315deg);
    width: 12px;
    height: 12px;
    cursor: pointer;
    opacity: 0;
}

.min:hover .next, .max:hover .next, .min:hover .prev, .max:hover .prev {
    opacity: 1;
}

.range {
    margin-top: 20px;
    width: 250px;
    position: relative;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    outline: none;
    z-index: 2;
}

#slider1 {
    transform: rotate(-180deg);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: var(--dark-pink);
    cursor: pointer;
    pointer-events: auto;
}


input[type="range"]:active::-webkit-slider-thumb{
    background-color: var(--white);
    border: 3px solid var(--dark-pink);
}

.slider {
    width: 100%;
    height: 5px;
    background-color: #999;
    position: absolute;
}

.value {
    background: var(--dark-pink);
    max-width: 70%;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.value span {
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
}

.value::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 10px solid var(--dark-pink);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

#start-date, #end-date {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid var(--black-shadow);
    background: var(--white-shadow);
    border-radius: 20px;
    transition: 0.5s;
    margin-bottom: 20px;
    width: 200px;
    color: var(--dark-pink);
    font-size: 18px;
    padding: 25px 10px 10px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    text-align: center;
}

#start-date::before {
    content: "Start date:";
    position: absolute;
    top: 0;
    left: 40px;
}

#end-date::before {
    content: "End date:";
    position: absolute;
    top: 0;
    left: 40px;
}

#start-date:hover, #end-date:hover {
    border: 5px solid var(--black);
    width: 250px;
}

::-webkit-calendar-picker-indicator {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url('https://cdn-icons-png.flaticon.com/512/3652/3652191.png');
    background-size: cover;
    background-position: center center;
    transition: 0.05s linear;
}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.dark input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
}

.date label {
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
}

.main {
    position: relative;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.main .container {
    width: 80%;
    position: absolute;
    left: 280px;
}

.container .title {
    color: var(--dark-pink);
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
}

.container .title i {
    font-size: 60px;
    margin-bottom: 10px;
}

.container .title h2 {
    font-weight: 600;
}

.event {
    color: var(--black);
    transition: all 0.3s ease;
    text-transform: capitalize;
    position: relative;
    padding: 0 10px 10px;
    margin: 40px 0;
}

.event:hover {
    box-shadow: 0 15px 35px var(--black-shadow);
}

.event-img {
    width: 100%;
    padding-top: 10px;
}

.event-img img {
    height: 100%;
    width: 100%;
}

.event-content {
    background-color: var(--white);
    width: 100%;
    border: 1px solid var(--white-border);  
    padding: 0 20px;
}

.event-content h2 i {
    font-size: 18px;
    cursor: pointer;
}

.event-content h2 a {
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: var(--black);
    transition: 0.3s;
}

.event-content h2 a:hover {
    color: var(--dark-pink);
}

.event-detail {
    display: inline-block;
    width: 100%;
    color: #777;
    font-size: 12px;
    line-height: 1;
    list-style: none;
    padding: 0;
}

.event-detail li {
    float: left;
    line-height: 1.3;
}

.event-detail li::after {
    content: "-";
    padding: 0 6px;
}

.event-detail li a {
    color: #777;
}

.event-detail li:hover a {
    color: var(--dark-pink);
}

.event-content p {
    font-size: 16px;
    color: #929292;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.read-more {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--black);
    width: auto;
    position: relative;
}

.read-more::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -5px;
    background: var(--black);
}

.read-more:hover {
    color: var(--dark-pink);
}

.read-more:hover::after {
    background: var(--dark-pink);
}

.event-content button {
    width: 160px;
    margin-right: 20px;
}