.orange-coral {
    border: 2px solid var(--green);
}
.orange-coral .calendar-sidebar {
    background: var(--green);
    box-shadow: 5px 0 18px -3px var(--green);
}
.orange-coral.sidebar-hide .calendar-sidebar {
    -webkit-box-shadow: none;
            box-shadow: none;
}
.orange-coral .calendar-sidebar > .month-list::-webkit-scrollbar-thumb:hover {
    background: #ffd3bd;
}
.orange-coral .calendar-sidebar > .month-list > .calendar-months > li:hover {
    background-color: rgba(255, 255, 255, 0.20);
}
.orange-coral .calendar-sidebar > .month-list > .calendar-months > li.active-month {
    background-color: rgba(255, 255, 255, 0.40);
}
.orange-coral .calendar-sidebar > span#sidebarToggler,
.orange-coral #eventListToggler {
    background: var(--green);
    box-shadow: 5px 0 18px -3px var(--green);
}
.orange-coral th[colspan="7"] {
    position: relative;
    font-size: 30px;
    color: var(--green);
}
.orange-coral th[colspan="7"]::after {
    content: '';
    display: block;
    width: 92%;
    height: 1px;
    margin: 0 auto;
    background: var(--green);
}
.orange-coral tr.calendar-body .calendar-day .day:hover {
    background-color: var(--green);
    color: var(--white);
}
.orange-coral tr.calendar-body .calendar-day .day.calendar-today {
    background: var(--green);
}
.orange-coral tr.calendar-body .calendar-day .day.calendar-active,
.orange-coral tr.calendar-body .calendar-day .day.calendar-active:hover {
    border-color: #ff2b30;
}
.orange-coral tr.calendar-body .calendar-day .day.calendar-today:hover {
    color: #fff;
}
.orange-coral .calendar-events {
    background-color: #fff;
}
.orange-coral .calendar-events::-webkit-scrollbar-thumb {
    background: #fc9567;
    border-radius: 5px;
}
.orange-coral .calendar-events::-webkit-scrollbar-thumb:hover {
    background: #dc855e;
}
.orange-coral .event-container > .event-icon > div.event-bullet-event,
.orange-coral .event-indicator > .type-bullet > div.type-event {
    background-color: #ff4d55;
}
.orange-coral .event-list > .event-empty {
    background-color: var(--green);
    border: 1px solid var(--green);
}
.orange-coral .event-list > .event-empty > p {
    color: var(--white);
}
.orange-coral .event-container > .event-info > p.event-title > span {
    color: var(--white);
    background-color: var(--green);
    border: 1px solid var(--green);
}
@media only screen and (max-width: 768px) {
    .orange-coral .calendar-inner::after {
        background-color: rgba(160, 131, 119, 0.5);
    }
    .orange-coral .calendar-events {
        box-shadow: -5px 0 18px -3px var(--green);
    }
    .orange-coral.event-hide .calendar-events {
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}
@media screen and (max-width: 425px) {
    .orange-coral .calendar-sidebar > .calendar-year {
        background: var(--green);
    }
    .orange-coral .calendar-sidebar > .month-list {
        background: var(--green);
    }
}