<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;">
    <table style="border-collapse: collapse;" align="center" border="0" cellpadding="0" cellspacing="0" width="600px" >
        <tr>
            <td align="center" style="padding: 40px 0 30px 0;" bgcolor="#000000">
                <img width="300" height="250" style="display: block;" src="https://lh3.googleusercontent.com/M45k4TBZmZB31g5u15jzSRZS3XyehYtyiJDLTLxAgWN559Rjsseq4Fm_oVKSzCPBY3xuT7-vkqNK48Rr_GGtLFUk8uYTypU83gKVQ6xPWUoJIEuTaJffy6gqNXrLHdXtrl6_BkkAlpyuMv3WO7JzReL7GK5CJDLkDVQQfbYpL51SRM4W97PQrw-LcGVeg1vJJL_k_Tv-8hYpW6okR1qQ7o7EN8D2TMrSH8BI5prpEmDPFE7NTcjvY-rMWAXA4z7bieXtthpU6ae7im7aLxCZvrXznTPjyVtGOfxEuAsBqNyWn3H11vNmx1S2JnXVHNw5t0-CuNnqtDIBnIy5RoMYlrgBr8IDxIOjS96tYvMMSSSxZdOnR72VponNHsPX5HDkdMI_DEYP7DcG3WunvSI8hqZ2zceClEdbVFQPxRkXI5_lEcsC-lfQgRoCSwQamZlbEgNzWZYVjdmoZBICXWo3BTqWlOxcZdPjz79CqyJ-bs8FwuluhiFIbkgrYyb73XFnB-g8kbd-V3UknGdxyLyv6e0RbaawNbIHdPh4HETK7J-f7OWEdKnJWQqwK5lALAKQArE5rB1JIDamV87si2GFYlVUMVlUnlFSqwzsz377P7Y8-uF4lS9s_CAPiCEEXWvFuCfyJSjNQniDeAhpzUB0OBD4KbLQXyWL88ABzPNjpC5-dMaFv6wlw0AmfeX823ikqoB8oZbY28MIcThKfm56Ew=s500-no?authuser=0">
            </td>
        </tr>
        <tr>
            <td style="padding: 40px 30px 40px 30px;" bgcolor="#ffffff">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="font-weight: bold;">Dear: {0}</td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 0 30px 0;">
                            Thanks for registering for an account on FPTU EVENT. FPTU EVENT is a website created to help you quickly access all school has events and easily register for events through the website. Hope you have a good experience!!!
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: 100 !important;">
                            Best regard.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#25C97A" style="padding: 30px 30px 30px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" width="75%">
                            Copyright &copy; SWP Group-6, All Rights Reserved.
                        </td>
                   
                        <td align="right">
                            <a href="#">
                                <img style="display: block;" border="0" height="38" width="38" src="https://lh3.googleusercontent.com/pw/AM-JKLXj9Tqnaq86o53G6PU3PCww197OI_YyxxHdBo7JMDFBxELKPIB-dVOAECy55rrKouIIMW9ypVo_SQwBdmHCzLl3lIA3IYsLtsNucKoVVz1Qf98SwQspV5_O9KggTbiJRPUbx2MilPVXTMbRgwoUORPt=s32-no?authuser=0" alt="">
                            </a>
                        </td>
                        <td align="center">
                            <a href="#">
                                <img style="display: block;" border="0" height="35" width="35" src="https://lh3.googleusercontent.com/pw/AM-JKLUdXHjCfDXRlULukiz_wkQhREc9K6DFpcb79hlA0yxe6n40ZAxnnRyCJ0jhkpNE-FbkQteNLZxrs0g7U7w_cgi2rDeJoRQz3zfSHAne71_mDNFjr8I6LcJRxxZazvEh4N6aPDatA8Sza1avgC_XWTGJ=s32-no?authuser=0" alt="">
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>